* {
    box-sizing: border-box;
}

body {
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    font-family: 'League Gothic';
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 4em;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: rgba(255, 255, 255, 0.6);
    color: orangered;
    padding: 10px 5%;
    display: flex;
    z-index: 2;
}

.header-date {
    flex: 1;
    display: table-cell;
    vertical-align: bottom;
    font-size: 2rem;
    line-height: 2;
    text-align: left;
}

.header-title {
    flex: 1;
    display: table-cell;
    vertical-align: bottom;
    font-size: 3rem;
    text-align: center;
}

.header-rsvp {
    flex: 1;
    text-align: right;
    display: table-cell;
    vertical-align: bottom;
}

.header-rsvp-btn {
    display: inline-block;
    padding: 6px 20px;
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: orangered;
    color: #efefef;
}

.timeline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.timeline-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 120px 60px 40px;
    background-size: cover;
    opacity: 0;
    transition: opacity .5s ease-out;
}

.timeline-section.active {
    opacity: 1;
}

.timeline-section#first-date {
    background-image: url('/images/2016-05-20 19.22.19 HDR.jpg');
}

.timeline-section#proposal {
    background-image: url('/images/cover.jpg');
}

.timeline-section#wedding {
    background-image: url('/images/2016-05-28 07.18.06.jpg');
}

.timeline-section#after-party {
    background-image: url('/images/2016-11-06 16.29.16.jpg');
}

.timeline-content {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px 60px;
    border-radius: 2px;
}
.timeline-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 4em;
}
.timeline-content p {
    font-size: 1.8em;
}

.timeline-nav {
    position: absolute;
    height: 200px;
    padding: 25px 5%;
    left: 0;
    right: 0;
    bottom: 57px;
    display: flex;
    flex-direction: row;
}

.timeline-nav-divider {
    position: relative;
    flex: 1;
    height: 10px;
    margin: 70px 10px;
    background: #fff;
}

.timeline-nav-divider:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background: dodgerblue;
    box-shadow: 0 0 10px dodgerblue;
    transition: width 1.5s ease-out;
}
.timeline-nav-divider.active:after {
    width: 50%;
}
.timeline-nav-divider.complete:after {
    width: 100%;
}

.timeline-nav-item {
    position: relative;
    flex: 1;
    margin: 0;
    padding: 0;
    height: 150px;
    width: 150px;
    border: 5px solid dodgerblue;
    box-shadow: 0 0 10px dodgerblue;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
}

.timeline-nav-link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 50%;
    transition: background 200ms ease-out;
}

.timeline-title {
    position: relative;
    display: block;
    z-index: 1;
    text-align: center;
    margin-top: 40px;
    line-height: 40px;
    font-size: 2rem;
    color: dodgerblue;
}

.timeline-date {
    position: relative;
    display: block;
    z-index: 1;
    text-align: center;
    line-height: 24px;
    font-size: 1.4rem;
    color: dodgerblue;
}