@import '~style/helpers';

@heroFadeInSpeed: 1s;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

h1 {
    margin: 0;
    font-size: 7rem;
    text-align: center;
    color: rgba(255, 245, 235, 0.9);
    user-select: none;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 4rem;
}

h3 {
    margin: 0;
    font-size: 2rem;
    color: @primary;

    &.important {
        color: @secondary;
        margin-bottom: 20px;
    }
}

h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
}

.engagementIcon svg {
    height: 7rem;
    margin: 0 1rem;
    fill: @secondary;
}

.home {
    padding-bottom: 200px;
}

.section {
    position: relative;
    padding: 40px 60px;
    text-align: left;

    &.hero {
        color: @white !important;
        min-height: 860px;
        padding: 100px 60px 40px;
        background: linear-gradient(to bottom, @primary, white);

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('/assets/images/hero.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top -500px center;
            opacity: 0;
            z-index: 1;
        }

        > * {
            position: relative;
            z-index: 2;
        }

        &.showBackground {
            &:after {
                opacity: 1;
                transition: opacity @heroFadeInSpeed ease-out;
            }
        }
    }
}

.content {
    max-width: 960px;
    margin: 0 auto;
}

.video {
    width: 100%;
}
