@import '~style/helpers';

@heroFadeInSpeed: 750ms;

* {
    box-sizing: border-box;
}

html {
    font-size: 12px;

    @media (min-width: 768px) {
        font-size: 16px;
    }
}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-repeat: repeat;
    background-size: cover;
}

h1 {
    margin: 0;
    font-size: 5rem;
    text-align: center;
    color: rgba(255, 245, 235, 0.9);
    user-select: none;

    @media (min-width: 768px) {
        font-size: 6rem;
    }
}

h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3.5rem;
}

h3 {
    margin: 0;
    font-size: 2rem;
    color: @primary;

    &.important {
        color: @secondary;
        margin-bottom: 1rem;
    }
}

h4 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}

p {
    font-size: 1.6rem;
    margin: 0.2rem 0 2rem;
}

.engagementIcon svg {
    height: 5rem;
    width: 6rem;
    margin: 0 1rem;
    fill: @secondary;

    @media (min-width: 768px) {
        font-size: 6rem;
    }
}

.heartIcon {
    display: block;
    width: 8rem;
    margin: 0 auto 0;

    svg {
        fill: @secondary;
    }
}

.home {
    position: relative;
}

.section {
    @overlayColor: rgba(255, 255, 255, 0.80);

    position: relative;
    padding: 0;
    text-align: left;

    .content {
        position: relative;
        max-width: 960px;
        padding: 4rem 1.5rem;
        margin: 0 auto;
        background: @overlayColor;
    }

    @media (min-width: 768px) {
        &:not(.hero) {
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            // left side fade-to-white
            &:before {
                right: ~"calc(50% + 480px)";
                background: @overlayColor;
            }
            // right side fade-to-white
            &:after {
                left: ~"calc(50% + 480px)";
                background: @overlayColor;
            }
        }
    }

    .button {
        margin-top: 3rem;
    }

    &.hero {
        background: #333;
        color: @white !important;
        min-height: 100vh;
        padding: 10rem 0;
        will-change: transform;
        transition: transform 500ms;

        // turning off parallax
        transform: none !important;

        .content {
            background: transparent;

            &:after {
                display: none;
            }
        }

        &:before,
        &:after {
            content: '';
            position: fixed;
            top: -300px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            opacity: 0;

            // turning off parallax
            position: absolute;
        }

        // hero background image
        &:before {
            background-image: url('../../assets/images/cover.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top 100px left -400px;

            @media (min-width: 768px) {
                top: -300px;
                background-position: center;
            }
        }

        // hero background gradient overlay
        &:after {
            background: linear-gradient(to bottom, fade(@primary, 20%), fade(@black, 50%));
        }

        > * {
            position: relative;
            z-index: 2;
        }

        &.showBackground {
            &:before,
            &:after {
                opacity: 1;
                transition: opacity @heroFadeInSpeed ease-out;
            }
        }
    }

    &.proposal {
        background-image: url('../../assets/images/kat_angels_landing.jpg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &.footer {
        background: #333;
        color: #efefef;

        .content {
            background: transparent;
        }

        &:before,
        &:after {
            display: none;
        }
    }

    &.patternBackground {
        background-image: url('../../assets/images/halftone.png');
        background-repeat: repeat;
        background-size: auto;

        .content {
            background: transparent;
        }

        @media (min-width: 768px) {
            // left side fade-to-white
            &:before {
                background: transparent;
            }
            // right side fade-to-white
            &:after {
                background: transparent;
            }
        }
    }

    &:not(:last-of-type):not(:first-of-type) {
        border-bottom: 4px solid @primary;
    }
}

.video {
    width: 100%;
}

iframe {
    border: 0;
    float: right;
    margin: 0.5rem;
    width: 100%;
    height: 300px;

    @media (min-width: 768px) {
        width: 400px;
        margin-top: 0;
        margin-right: 0;
    }
}

.footerText {
    position: relative;
    top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.4rem;
}


// animations

.animated {
    animation-duration: 600ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    will-change: transform;
}

.googleMapEmbed {
    position: relative;
    z-index: 1;
}
