@import '~style/helpers';

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: rgba(255, 255, 255, 0.6);
    color: orangered;
    padding: 10px 5%;
    display: flex;
    z-index: 2;
}

.date {
    flex: 1;
    display: table-cell;
    vertical-align: bottom;
    font-size: 2rem;
    line-height: 2;
    text-align: left;
}

.title {
    flex: 1;
    display: table-cell;
    vertical-align: bottom;
    font-size: 3rem;
    text-align: center;
}

.rsvp {
    flex: 1;
    text-align: right;
    display: table-cell;
    vertical-align: bottom;
}

.rsvpBtn {
    display: inline-block;
    padding: 6px 20px;
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: orangered;
    color: #efefef;
}
