@import '~style/helpers';

@inputFontStack: "Helvetica Neue", Helvetica, Arial, sans-serif;

.infoParagraph {
    font-size: 1.4rem;
    margin: 0.5em 1em 1em;
}

.rsvpMask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

.rsvpModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;
    z-index: 100;

    .button {
        margin: 10px auto;
    }

    h2 {
        margin: 0;
        text-align: center;
    }
}

.modalContent {
    position: relative;
    width: 100%;
    margin: 2rem auto;
    background: #efefef;
    border: 2px solid @black;
    padding: 1rem 0.5rem;

    @media (min-width: 640px) {
        width: 640px;
    }
}

.formGroup {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0 1em 1em;
    width: ~"calc(100% - 2em)";
    vertical-align: top;

    &.text {
        overflow: hidden;
    }

    > label {
        opacity: 1;
        transition: all .3s ease-out;

        &:not(:last-of-type) {
            margin-right: 40px;
        }
    }

    &.hideOption {
        > label {
            display: none;
            opacity: 0;
        }
    }

    &.twoColumn {
        width: ~"calc(50% - 2em)";
    }

    &.checkboxGroup {
        margin-top: -0.5rem;
        margin-bottom: 2rem;
    }
}

.textInput {
    position: relative;
    display: block;
    float: right;
    padding: 0.5em 0.3em 0.6em;
    margin-top: 1.4em;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 1.4rem;
    background: transparent;
    color: @darkGray;
    font-weight: bold;
    font-family: @inputFontStack;
    -webkit-appearance: none;
    outline: none;
}

label {
    color: @darkGray;
    font-size: 1.2rem;
    font-weight: bold;
}

.label {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0.25em;
    width: 100%;
    height: calc(100% - 2em);
    text-align: left;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 10px);
        border-bottom: 1px solid #B9C1CA;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 10px);
        border-bottom: 4px solid @primary;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;

        .filled & {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .unverified & {
            border-color: @secondary;
        }
    }
}

.labelContent {
    position: absolute;
    display: block;
    padding: 1.2em 0;
    top: 0.2em;
    width: 100%;
    transition: transform 80ms ease-out;

    .filled & {
        transform: translateY(-1.2em);
    }
}

.optionLabel {
    display: block;
    position: relative;
    padding-left: 55px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 1.4rem;

    > input {
        position: absolute;
    }

    @media (min-width: 640px) {
        display: inline-block;
    }
}

.hide {
    display: none;
}


// radio buttons
@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.optionInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #aaa;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}
.optionInput:hover,
.optionInput:focus {
    background: #ccc;
}
.optionInput:checked {
    background: @primary;
}
.optionInput:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}
.optionInput:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: @primary;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.optionInput.radio {
    border-radius: 50%;
}
.optionInput.radio::after {
    border-radius: 50%;
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 5.4rem;
    outline: none;
    color: @darkGray;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: @inputFontStack;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background: transparent;
}

.message {
    margin: 0 1rem 1rem;
    padding: 1rem;
    border: 2px solid white;
    color: white;
    font-weight: bold;

    &.info {
        border-color: @primary;
        color: @primary;
    }

    &.error {
        border-color: orangered;
        color: orangered;
    }
}

.closeModal {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 5rem;
    line-height: 1rem;
    margin: 0 5px;
    color: #333;
    text-decoration: none;
}

.stepTwo {

    &.hidden {
        display: none;
    }
}
